APP_ENV=local
APP_DEBUG=true
APP_STORAGE_PATH=/storage
APP_BASE_PATH=
APP_URL=http://api.pridestudio.local:8000

FRONTEND_APP_URL=dashboard.pridestudio.local:8080

DB_URI=mongodb://127.0.0.1:27017
DB_DATABASE=pridestudio
DB_USERNAME=
DB_PASSWORD=

MAIL_DRIVER=smtp
MAIL_HOST=smtp.google.com
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=

JWT_SECRET=
JWT_DURATION=3600
